<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{tags.tags}"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a class="breadcrumb-item active" th:href="${'/tags/new'}" th:style="${listOfCreditCards}? 'color:#6e45e0'" th:text="#{tags.newTag}"></a>
    <div th:if="${not #lists.isEmpty(tags)}">
        <h2 th:text="#{tags.tags}"></h2>
        <table class="table table-striped">
            <tr>
                <th th:text="#{tags.id}"></th>
                <th th:text="#{tags.name}"></th>
                <th th:text="#{action.actions}"></th>
            </tr>
            <tr th:each="tag : ${tags}">
                <td th:text="${tag.id}"></td>
                <td th:text="${tag.name}"></td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/tags/delete/' + tag.id}" th:text="#{action.delete}"></a> </li>
                        <li><a th:href="${'/tags/edit/' + tag.id}" th:text="#{action.edit}"></a> </li>
                        <li><a th:href="${'/tags/details/' + tag.id}" th:text="#{action.view}"></a> </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>