<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{tasks.newTask}"></title>

    <!--/*/ <th:block th:include="fragments/header:: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2 th:text="#{tasks.newTask}"></h2>
    <div class="glyphicon-credit-card">
        <form class="form-horizontal" th:object="${task}" th:action="@{/tasks/save}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{tasks.name}"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}" th:required="required"/>
                    </div>
                </div>
                <label class="col-sm-2 control-label" th:text="#{tasks.description}"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{description}"/>
                    </div>
                </div>
                <label class="col-sm-2 control-label" th:text="#{tasks.tags}"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <select th:field="*{tag}" size="1" class="form-control" th:required="required">
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.name}"
                                    th:with="taskTag=${task.tag}"
                                    th:selected="${#strings.equals(taskTag, tag.name)}">
                            </option>
                        </select>
                    </div>
                </div>

                <label class="col-sm-2 control-label" th:text="#{tasks.parentTask}"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <select th:field="*{parentTask}" size="1" class="form-control">
                            <option th:each="parentTask : ${parentTasks}"
                                    th:value="${parentTask.id}"
                                    th:text="${parentTask.name}"
                                    th:with="taskTag=${task.parentTask}"
                                    th:selected="${#strings.equals(parentTask, task.name)}">
                            </option>
                        </select>
                    </div>
                </div>

                <label class="col-sm-2 control-label" th:text="#{tasks.status}"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <select th:field="*{status}" size="1" class="form-control" th:required="required">
                            <option th:each="status : ${statuses}"
                                    th:value="${status.id}"
                                    th:text="${status.name}"
                                    th:with="taskTag=${task.status}"
                                    th:selected="${#strings.equals(taskStatus, status.name)}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" th:text="#{form.save}"></button>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>