<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Задачи"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script th:src="@{/js/stopwatch.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a th:href="${'/tasks/new'}" th:text="Создать"></a>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2 th:text="#{menu.tasks}"></h2>
        <table id="tasks" class="table table-striped display" >
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>teg</th>
                <th>parentTask</th>
                <th>user</th>
                <th>condition</th>
                <th>status</th>
                <th>action</th>
                <th>spendTime</th>
            </tr>
            <!--<tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task?.tag?.name}"></td>
                <td th:text="${task?.parentTask?.name}"></td>
                <td th:text="${task?.user?.username}"></td>
                <td th:text="${task.inProcess}"></td>
                <td th:text="${task?.status?.name}"></td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/tasks/delete/' + task.id}" th:text="Удалить"></a></li>
                        <li><a th:href="${'/tasks/edit/' + task.id}" th:text="Редактировать"></a></li>
                        <li><a th:href="${'/tasks/details/' + task.id}" th:text="Карточка"></a></li>
                        <li> <a name="start" th:if="${task.inProcess == false}" th:href="${'/workLog/start/' + task.id}" th:text="Старт"></a>
                             <a name="stop" th:if="${task.inProcess != false}" th:href="${'/workLog/stop/' + task.id}" th:text="Стоп"></a>
                        </li>
                    </ul>
                </td>
                <td th:text="${task.readableTime}"> </td>
            </tr>-->
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>