<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Задачи"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script th:src="@{/js/dynamicUpdate.js}"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a th:href="${'/tasks/new'}" th:text="Создать"></a>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2 th:text="#{menu.tasks}"></h2>
        <table id="example" class="table table-striped display" >
            <tr>
                <th th:text="ID"></th>
                <th th:text="Имя"></th>
                <th th:text="Описание"></th>
                <th th:text="Тег"></th>
                <th th:text="'Задача родитель'"></th>
                <th th:text="Пользователь"></th>
                <th th:text="СОСТОЯНИЕ"></th>
                <th th:text="Статус"></th>
                <th th:text="Действия"></th>
                <th th:text="'Потраченное время'"></th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task?.tag?.name}"></td>
                <td th:text="${task?.parentTask?.name}"></td>
                <td th:text="${task?.user?.username}"></td>
                <td th:text="${task.inProcess}"></td>
                <td th:text="${task?.status?.name}"></td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/tasks/delete/' + task.id}" th:text="Удалить"></a></li>
                        <li><a th:href="${'/tasks/edit/' + task.id}" th:text="Редактировать"></a></li>
                        <li><a th:href="${'/tasks/details/' + task.id}" th:text="Карточка"></a></li>
                        <li> <a name="start" th:if="${task.inProcess == false}" th:href="${'/workLog/start/' + task.id}" th:text="Старт"></a>
                             <a name="stop" th:if="${task.inProcess != false}" th:href="${'/workLog/stop/' + task.id}" th:text="Стоп"></a>
                        </li>
                    </ul>
                </td>
                <!--<td th:text="${task.spentTime}"> </td>-->
                <td th:text="${task.readableTime}"> </td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>