<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
    <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
    <!--rel="stylesheet" media="screen" />-->
    <!-- Кто это в гит не запушил ?! Атата --->

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/Stopwatch.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="content row">
            <div class="col-sm-9">
                <div class="panel-body">
                    <div class="top-block">
                        <div class="top-block">
                            <div id="sw">
                                <p id="hours">00</p>
                            </div>
                            <div id="sw">
                                <p id="mins">00</p>
                            </div>
                            <div id="sw">
                                <p id="secs">00</p>
                            </div>
                            <div id="sw">
                                <p id="milis">00</p>
                            </div>

                            <div class="btn-group" role="group">
                                <button id="start" type="button" class="btn btn-primary btn-lg button" onclick="startStopwatch(); displayStopButton(); displayTimer()">Старт</button>
                                <button id="stop" type="button" class="btn btn-primary btn-lg button stop" onclick="stopTimer();displayStartButton()">Стоп</button>
                                <button id="reset" type="button" class="btn btn-primary btn-lg button reset" onclick="resetTimer()">Сброс</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>