<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/stopwatch.js}"></script>

</head>
<body>



<table id="swTable" border="1">
	<tbody>
		<tr>
			<th>id</th>
			<th>time</th>
			<th>actions</th>
		</tr>
	</tbody>
</table>


<p>===============================</p>


<button onclick="add();">add</button>
<button onclick="remove();">remove</button>
<button onclick="testObject();">test</button>

</body>
</html>